:root {
  --font-body: Arial, Helvetica, sans-serif;
  --font-headline: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* colors */
  --primary-color: #f0a868;
  --secondary-color: #525b0f;
  --tertiary-color: #8a470c;
  --light-grey: #d0d0d0;
  --dark-grey: #303030;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  font-size: var(--font-base);
  color: var(--dark-grey);
}

img {
  max-width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
}

p {
  padding: 0.75rem;
}

.logo {
  line-height: 60px;
  width: 245px;
  overflow: hidden;
  display: flex;
  font-size: 30px;
  text-align: right;
  font-family: var(--font-headline);
}

.logo img {
  width: 60px;
  height: 60px;
}

.logo a {
  text-decoration: none;
  color: var(--font-body);
}

.hero {
  position: relative;
}

.hero .logo {
  position: absolute;
  left: calc(50% - 60px);
  bottom: -15px;
  background-color: white;
}

.logo--square {
  font-size: var(--small-font);
  width: 110px;
  height: 80px;

  flex-direction: column;
  align-items: flex-end;
  box-shadow: 1px 1px 4px var(--light-grey);
  justify-content: center;
  align-items: center;
  line-height: 1;
}

.logo--square img {
  width: 90px;
  height: 90px;
  margin-top: -1.3em;
}

.logo--square > div {
  margin-top: -1.7em;
}

/* utility classes */
.highlight {
  color: var(--tertiary-color);
  text-transform: capitalize;
}

button {
  padding: 0.5em 2em;
  background-color: var(--secondary-color);
  color: white;
  margin: auto;
  display: block;
  border: 0;
  font-size: var(--large-font);
  cursor: pointer;
}

.divider {
  border-bottom: 2px solid var(--primary-color);
}

/* End utility classes */

/* Cart icon styles */
.cart {
  padding-top: 1em;
  position: relative;
  text-align: center;
}

.cart svg {
  width: 25px;
}

.cart:hover svg {
  fill: gray;
}

.cart_count {
  position: absolute;
  top: 0;
  right: 0;
  margin: 6px -3px;
  background: var(--light-grey);
  color: var(--dark-grey);
  font-weight: 500;
  border-radius: 50px;
  padding: 1px;
}

/* End cart icon styles */

.mission {
  position: absolute;
  top: 1rem;
  left: 0;
  right: 0;
  line-height: 1.3;
  width: 100%;
  background-color: var(--dark-grey);
  color: var(--light-grey);
  opacity: 0.8;
}

.mission p {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

.products {
  margin-top: 2rem;
  padding: 1rem;
}

.product-list {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
}

.product-list a {
  text-decoration: none;
  color: var(--dark-grey);
}

/* ************* Styles for Home page Category Display ********** */
.category-container {
  display: flex;
  justify-content: space-around;
}

.prod-category {
  margin-top: 10px;
  background-color: var(--light-grey);
  border-radius: 5px;
  box-shadow: 0 0 5px 1px var(--dark-grey);
  transition: 0.3s ease;
}

.prod-category a {
  text-decoration: none;
  display: block;
}

.sleeping a {
  margin-top: 12px;
}

.prod-category img {
  padding-top: 10px;
  display: block;
}

.prod-category p {
  text-align: center;
  color: var(--secondary-color);
}

.prod-category:hover {
  transform: scale(1.05);
}

.category {
  text-transform: capitalize;
}

/* Styles for product listing page */
.product-card {
  flex: 1 1 45%;
  margin: 0.25em;
  padding: 0.5em;
  border: 1px solid var(--light-grey);
  max-width: 250px;
}

.product-card h2,
.product-card h3,
.product-card p {
  margin: 0.5em 0;
}

.card__brand {
  font-size: var(--small-font);
}

.card__name {
  font-size: 1em;
}

/* End product list card */

.product-detail {
  padding: 1em;
  max-width: 500px;
  margin: auto;
}

.product-detail img {
  width: 100%;
}

/* Start cart list card styles */

.cart-container {
  margin: auto;
  margin-top: 2rem;
  padding: 1rem;
  width: 850px;
}

.cart-list {
  display: flex;
  flex-flow: row wrap;
  list-style-type: none;
  width: 550px;
  margin: 0 auto;
}

.cart-list a {
  text-decoration: none;
  color: var(--dark-grey);
}

.remove button {
  background-color: var(--light-grey);
  padding: 0.2rem 1.2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
}
.remove button::before {
  content: "\2716";
  color: red;
}

.cart-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.productContainer {
  display: grid;
  grid-template-columns: 25% auto 15%;
  font-size: var(--small-font);
  max-height: 120px;
  align-items: center;
}

.cart-card__image {
  grid-row: 1/3;
  grid-column: 1;
}

.cart-card p {
  margin-top: 0;
}

.cart-card .card__name {
  grid-row: 1;
  grid-column: 2;
}

.cart-card__color {
  grid-row: 2;
  grid-column: 2;
}

.cart-card__quantity {
  grid-row: 1;
  grid-column: 3;
}

.cart-card__price {
  grid-row: 2;
  grid-column: 3;
}

.checkout {
  text-align: right;
  margin-top: 5%;
  margin-right: 20%;
}

.checkout a {
  display: inline-block;
  padding: 10px;
  box-shadow: inset 0 0 2px var(--tertiary-color);
  background-color: #f2f2f2;
  border: 1px solid var(--tertiary-color);
  text-decoration: none;
  color: var(--dark-grey);
  border-radius: 10px;
}

.checkout a:hover {
  background-color: var(--light-grey);
}

/* End cart styles */

/* Dialog Box style start*/

dialog {
  margin: auto;
  background-color: #f2f2f2;
  font-family: var(--font-base);
  border-radius: 10px;
  box-shadow: 0 0 5px var(--dark-grey);
  border: 1px solid var(--light-grey);
  padding: 15px;
}

:is(dialog) :is(label, p) {
  padding: 10px;
}

dialog input {
  display: inline-block;
  padding: 5px;
  border: none;
  box-shadow: 0 0 5px var(--dark-grey);
}

dialog input:focus {
  border: 1px solid var(--dark-grey);
  outline: none;
  box-shadow: none;
}

dialog button {
  min-width: 44px;
  padding: 0.2rem;
  background-color: var(--light-grey);
  color: var(--dark-color);
}

dialog button:hover {
  background-color: #9e7d7d;
}
menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px;
}

/* Dialog Box styles ends*/

.newsletter {
  background-color: var(--light-grey);
  padding: 1em;
  margin: 1em 0;
  text-align: center;
}

.newsletter h2 {
  margin-bottom: 0.5em;
}

.newsletter form {
  margin-top: 1em;
}

.newsletter input[type="email"] {
  padding: 1em;
  width: 350px;
  max-width: 80%;
  margin-right: 0.5em;
  border: 1px solid var(--dark-grey);
  border-radius: 0.3rem;
}

.newsletter button {
  padding: 0.5em 1em;
  background-color: var(--secondary-color);
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 0.5em;
  border-radius: 0.3rem;
  width: 300px;
  max-width: 80%;
}

.newsletter button:hover {
  background-color: var(--tertiary-color);
}

#sub-msg {
  display: none;
  margin-top: 1em;
  color: var(--secondary-color);
  font-weight: bold;
}

#wlc-promo {
  margin: 2rem auto;
  padding: 1rem;
  max-width: 400px;
  text-align: center;
  border: 2px solid var(--secondary-color);
  border-radius: 10px;
  background-color: var(--light-grey);

  &::backdrop {
      background: rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(5px);
  
    }

  & #modal-inner {
    padding: 2.5rem 2rem;
    text-align: center;
    position: relative;
  }

  & h2 {
    margin-bottom: 1rem;
    font-size: 1.9rem;
  }

  & p {
    margin-bottom: 1rem;
    font-size: 1.1rem;
  }

  & .highlight {
    font-size: 1.2rem;
    font-weight: 500;
  }

  & .promo-desc {
    font-size: 1.2rem;
    margin-bottom: .5rem;
    line-height: 1.5;

  }

  & .actions {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
  }

  & .actions button {
    padding: 0.5rem 1.5rem;
    font-size: 1.2rem;
    background-color: var(--secondary-color);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 0.3rem;
  }

  & .actions button:hover {
    background-color: var(--tertiary-color);
  }


}






@media screen and (min-width: 500px) {
  body {
    max-width: 1080px;
    margin: auto;
  }

  .mission {
    font-size: 1.2em;
  }

  .cart-card {
    font-size: inherit;
    grid-template-columns: 150px auto 15%;
  }
}

footer {
  font-size: var(--small-font);
  padding: 1em;
}
